@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  font-weight: 400;
  background-color: #b9ddff;
  line-height: 1.3;
}
.header {
  padding: 24px;
  background-color: #f0f6fa;
  box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: space-between;
}

.btn-resume {
  background: linear-gradient(90deg, #f7b523 20%, #fab93e90 100%);
  padding: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}
.btn-resume:hover {
  background: linear-gradient(145deg, #f3b837, #fab83e7a);
}
.logo span {
  color: #ffa400;
  font-weight: 800;
}
.logo h1 {
  font-size: 34px;
}
.new-dev {
  background-color: #ffffff;
  margin: 100px auto 120px auto;
  text-align: center;
  padding: 40px 60px;
  border-radius: 16px;
}
.developer {
  max-width: 1440px;
  margin: 0 auto;
}
.new-dev img {
  margin-bottom: 32px;
}
.new-dev h2 {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 900;
}
.new-dev p {
  font-size: 16px;
  margin-bottom: 32px;
}
.heading-content {
  text-align: center;
}
.heading-content h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 900;
  margin-bottom: 24px;
}
.heading-content p {
  color: rgb(46, 43, 43);
  margin-bottom: 48px;
}
.sector {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.sector-content h2 {
  font-size: 24px;
}
.sector-content p {
  font-size: 16px;
}
.sector-content {
  max-width: 50%;
}
.sector-image {
  max-width: 50%;
  background-color: #ffffff;
}
.sector-content h2,
p {
  margin-bottom: 25px;
}
.inspiration {
  max-width: 1440px;
  margin: 0 auto;
}
.video {
  text-align: center;
}
.video iframe {
  border-radius: 20px;
  border: 10px solid #ffffff;
  margin-bottom: 100px;
  max-width: 1000px;
  max-height: 400px;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-container {
  margin: 0 auto;
  max-width: 1260px;
  margin-bottom: 120px;
}
.card-content {
  background-image: linear-gradient(rgb(185, 221, 255), rgb(140, 200, 250));
  border-radius: 16px;
  text-align: center;
  margin-right: 30px;
  max-width: 500px;
  height: auto;
  padding: 60px;
}
.card-content * {
  margin-bottom: 17px;
}
.card-content h2 {
  font-weight: bold;
  font-size: 40px;
}
.card-content a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
footer.footer {
  background: #ffffff;
}

.footer-container {
  margin: 0 auto;
  width: 1260px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link-box a {
  margin-left: 10px;
}

/* responsive design */
@media screen and (max-width: 768px) {
  .sector-image img {
    margin-top: 20px;
  }
  .sector-content {
    width: 100%;
  }
  .sector {
    display: flex;
    flex-direction: column-reverse;
  }
  .video iframe {
    width: 600px;
    height: 300px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .card-content * {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    padding: 100px;
  }
  .footer-container {
    max-width: 670px;
  }
}
